*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-container{
    margin: 0px 229px;
}
.vector{
 position: absolute;
left: 225px;
right: 0%;
top:  25px;
bottom: 12.5%;
color: #FF5733;
}
.vector-round{ 
box-sizing: border-box;
position: absolute;
width: 50px;
height: 50px;
left: 215px;
top: 13px;
border: 1px solid #FF5733;
border-radius: 50px;
}
.text{
    position: absolute;
left: 272px;
right: 74.12%;
top: 28px;
bottom: 98.84%;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
text-align: center;
color: #222222;
}

.margin-top{
    margin-top: 53px;
    margin-right: 215px;
}
.margin-left{
    margin-left: 58px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #222222;
}
.hello-text{
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #FF5733;
}    
.banner-heading{
margin-top: 30px;
margin-bottom: 40px;
}
.know-button{
 background: #FF5733;
 border-radius: 50px;
 font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
border: none;
padding: 19px 40px;
}

.main-container{
    margin: 20 229px;
    margin-top: 125px;
}
.img{
    margin-left: 80px;
    opacity: 0.8;
}
.card-space{
    margin-left: 30px;
}
.card-container{
    width: 370px;
    height: 390px;
    
}

.card-img{
    padding: 50px 100px;

}
.div-container{
    height: 175px;
    width: 205px;
}
.testimonial-container{
    margin: 0px 150px;
  
}

ul li {
    
    list-style-type: none;
    margin-left: 30px;
}
.experiance-rotate{
    border-bottom: 3px solid #FF5733;
    border-radius: 40%;
    rotate: 180deg;
}
.provide-services{
 position: absolute;
width: 1370px;
height: 265px;
left: 115px;
top: 1887.73px;

background: #F9F9F9;
}
.rec-87{
box-sizing: border-box;
position: absolute;
width: 75px;
height: 75px;
left: 228px;
top: 260px;
opacity: 0.5;
border: 1px solid #FF5733;
border-radius: 5000px;
}
.rec-30{
box-sizing: border-box;
position: absolute;
width: 30px;
height: 30px;
left: 950px;
top: 282px;
opacity: 0.5;
border: 1px solid #FF5733;
border-radius: 5000px;
}
 .half{
position: absolute;
opacity: 0.9;
margin-left: 470px;
} 

.rec-813{
box-sizing: border-box;
position: absolute;
left: 1000px;
top: 450px;
opacity: 0.5;
border: 1px solid #FF5733;
border-radius: 5000px;
}
.left-half{
    box-sizing: border-box;
position: absolute;
margin-left: -870px;
margin-top: 280px;
opacity: 0.9;

} 
.custom-bg{
    background: #F9F9F9;
}
.network{

width: 790px;
height: 365px;
left: 405px;
top: 1021px;
background: #F9F9F9;
}
.icon{
    margin-bottom: 95px;
    margin-top: 50px;
    color : #AAAAAA
}

.custom-text{
    color: #FF5733 !important; 
}
.test {
border-bottom: 3px solid#FF5733;
border-radius: 50%;
rotate: .2deg;
}
.blockqoute{
  content: "\201C";
  font-size: 5rem;
}
.testimonial-img{
    height: 370px;
}
footer h6{
    margin-bottom: 50px;
}
footer h1{
    font-family: 'Noticia Text';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
text-align: center;

text-transform: lowercase;
color: #222222;
}
footer p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
text-align: center;
color: #888888;
}
.copyright
{
font-size: 15px;
}
h1{
font-family: 'Noticia Text';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 74px;
text-transform: capitalize;
color: #222222;

}

.p-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #888888;

}
h6{
    font-family: 'Noticia Text';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
text-transform: capitalize;
color: #555555;
}
.demo{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #777777;
margin-bottom: 45px;
}
h2{
    font-family: 'Noticia Text';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
text-transform: capitalize;
color: #222222;
}
blockquote{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #888888;
}
.hr1{
   border: 1px solid  #F1F1F1;
}
.hr2{
    border: 1px solid #E2E2E2;
}
.hr3{
    border: 1px solid #E7E7E7;
}
.service{
    margin-top: 150px;
    margin-bottom: 72px;
}
.provide{
    margin-bottom: 160px;
}
.projects{
    margin-top: 160px;
    margin-bottom: 80px;
}
.partner{
    margin-bottom: 120px;
}
.brunch{
    margin-bottom: 50px;
}